@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_7pt-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_7pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans'; 
    src: url('../fonts/NunitoSans/NunitoSans_10pt-Black.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_10pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_7pt-Black.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_7pt-Black.woff') format('woff');
    font-weight: 900; 
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_10pt-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_10pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_7pt-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_7pt-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_10pt-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_10pt-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NunitoSans'; 
    src: url('../fonts/NunitoSans/NunitoSans_10pt-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_10pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_7pt-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_7pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

body {
    font-family: 'NunitoSans', sans-serif;
}


.header__container,
.sub-header__container,
.content__container,
.car__container,
.articles__container,
.footer__container {
    width: 65%;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    width: 196px;
}

.header {
    display: flex;
    align-items: center;
    background-color: #162743;
    width: 100%;
    height: 90px;
    padding: 20px 0;
}

.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 600px;
}

.menu__item {
    text-decoration: none;
    list-style: none;
    height: 100%;
}


.navigation {
    position: relative;
    padding: 50px 0px;
}


.dropdown {
    display: none;
    position: absolute;
    top: 87%;
    background-color: #7acbc6;
    width: 335px;
    padding: 0px 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    z-index: 2;
}

.navigation:hover .dropdown {
    display: block;
}

.navigation__position-one {
    left: -180%;
}

.navigation__position-two {
    left: -140%;
}

.navigation__position-three {
    left: -160%;
}

.dropdown::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #7acbc6;
}

.navigation:hover .dropdown {
    display: block;
    transition: all 0.25s ease-in-out;
}

.navigation__link:hover {
    transition: all 0.25s ease-in-out;
    color: #7acbc6;
}


.dropdown__link {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 18px;
}

.dropdown__link::after {
    content: '';
    display: inline-block;
    background-color: transparent;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 10px;
    padding: 0;
    vertical-align: middle;
}

.dropdown__link:hover::after {
    content: '';
    display: inline-block;
    background-color: transparent;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 10px;
    margin: 0px -10px 0px 25px;
    transition: all 0.28s;
    padding: 0;
    vertical-align: middle;
}

.dropdown__item {
    border-bottom: 1px solid rgba(5, 12, 26, .2);
}

.dropdown__item:last-child {
    border-bottom: 0px solid rgba(5, 12, 26, .2);
}


.navigation__link {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-block;
}

.header__button {
    display: block;
    color: #162743;
    background-color: #7acbc6;
    border: 1px solid #7acbc6;
    padding: 36px 38px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
}

.header__button:hover {
    color: #7acbc6;
    background-color: #050c1a;
    border: 1px solid #7acbc6;
}

.sub-header {
    display: flex;
    align-items: flex-end;
    background-color: #f2f3f5;
    width: 100%;
}

.sub-header__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 371px;
}

.sub-header__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 110px;
    padding-right: 160px;
    height: 100%;
}

.sub-header__item:first-child {
    padding-right: 160px;
}

.sub-header__item:last-child {
    flex-direction: row;
    align-items: flex-end;
    padding-right: 135px;
}

.breadcrumb {
    display: flex;
}

.breadcrumb__item {
    display: flex;
    align-items: center;
}

.breadcrumb__item::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #000;
    margin: 0px 10px;
    transform: rotate(10deg);
}

.breadcrumb__item:last-child:after {
    content: "";
    display: inline-block;
    background-color: transparent;
}


.heading {
    flex-basis: 60%;
    padding-bottom: 40px;
}

.title-big {
    font-size: 55px;
    font-weight: 300;
    line-height: 60px;
}


.nav-links {
    display: flex;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.nav-links__link {
    text-decoration: none;
    color: #1869b9;
}

.nav-links__line {
    width: 2px;
    height: 17px;
    background-color: #1869b9;
    margin: 0 17px;
}

.color-block {
    width: 360px;
    height: 340px;
    background-color: #7acbc6;
    padding-left: 20px;
}

.gears {
    width: 476px;
    height: 404px;
    background-image: url('../img/sub-header/gears.jpg');
    background-repeat: no-repeat;
}

.color-block__img {
    margin-top: -31px;
}


.content__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0px 90px 0px;
    border-bottom: 2px solid #abb8c3;
}

.content__body {
    width: 800px;
    font-size: 20px;
    margin-right: 72px;
    counter-reset: item;
}

.content__body p {
    margin-bottom: 30px;
}


.content__image {
    float: right;
    margin: 0px 0px 0px 40px;
}


.content__body .content__title_numbers::before {
    display: inline-block;
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: 700;
    margin-right: 10px;
}


.content__title {
    color: #1869b9;
    font-size: 40px;
    margin: 25px 0px;
}

.content__title_minsize {
    font-size: 30px;
}

.content__title_numbers {
    font-size: 30px;
}

.content__list {
    padding-left: 18px;
    margin-bottom: 30px;
}

.content__list li {
    margin-left: 5px;
    line-height: 25px;
}

.content__list li::before {
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #000;
}

.content__title-img {
    margin-bottom: 25px;
}


.sidebar {
    width: 480px;
}

.content__sidebar {
    margin-top: 90px;
}


.title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    height: 45px;
    border-bottom: 4px solid #7acbc6;
}

.sidebar__link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.sidebar__list {
    margin-bottom: 50px;
}

.sidebar__list li {
    border-bottom: 1px solid #dbdcde;
    padding: 20px 15px 10px;
}

.sidebar__list li::before {
    display: inline-block;
    content: "";
    background: url('../img/main/sidebar/seo.svg') center / cover no-repeat;
    width: 40px;
    height: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

.contact-us {
    padding: 25px;
    background-color: #162743;
}

.contact-us__title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: #7acbc6;
    margin-bottom: 20px;
}

.contact-us__text {
    color: #fff;
    font-size: 33px;
    margin-bottom: 35px;
}


.button {
    display: block;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 900;
    width: 310px;
}


.contact-us__button {
    color: #000;
    background-color: #7acbc6;
    border: 1px solid #7acbc6;
    padding: 20px 8px 20px 38px;
    margin-bottom: -48px;
}

.button::after {
    content: "";
    display: inline-block;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 0 0 10px;
    vertical-align: middle;
    transition: all 0.28s;
}

.contact-us__button:hover {
    transition: all 0.28s;
    color: #7acbc6;
    background-color: #050c1a;
    border: 1px solid #7acbc6;
}

.contact-us__button:hover::after {
    transition: all 0.28s;
    color: #7acbc6;
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
    margin-left: 20px;
    margin-right: -15px;
}




.content__style {
    display: flex;
    letter-spacing: 0px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 35px;
}

.nav-links__link_style {
    text-decoration: underline;
    color: #000;
}

.nav-links__link_style:hover{
    transition: all 0.5s;
    text-decoration: none;
    color: #1869b9;
}

.nav-links__line_color {
    width: 1px;
    height: 17px;
    background-color: #000;
    margin: 0 5px;
}


.content__margin-bottom {
    margin-bottom: 50px;
}

.drive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7acbc6;
    color: #000;
    padding: 25px;
    width: 730px;

}

.drive__text {
    font-size: 23px;
    font-weight: 100;
    height: 0px;
}

.drive__weight {
    font-weight: 700;
}

.drive__button {
    padding: 8px 0px 8px 20px;
    font-size: 13px;
    width: 260px;
    background-color: #050c1a;
    letter-spacing: 2px;
    color: #fff;
    margin-right: -100px;
}

.drive__button::after {
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
}

.subscribe {
    padding: 25px 25px;
    background-color: #f2f3f5;
}

.subscribe__title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.subscribe__text {
    color: #000;
    font-size: 30px;
    margin-bottom: 35px;
}

.subscribe__button {
    font-size: 17px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    padding: 20px 10px 20px 40px;
    letter-spacing: 3px;
    margin-bottom: -50px;
}

.subscribe__button::after {
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
}

.subscribe__button:hover {
    color: #000;
    background-color: #fff;
}

.subscribe__button:hover::after {
    transition: all 0.28s;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    margin-left: 18px;
    margin-right: -15px;
}


.car {
    padding: 30px 0px;
}

.car__block {
    width: 980px;
}

.car__header {
    display: flex;
    justify-content: flex-end;
    height: 140px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -50px;
}

.car__roof {
    position: relative;
    width: 650px;
    height: 650px;
    background-color: yellow;
    border-radius: 39% 61% 46% 54% / 40% 40% 60% 60%;
    overflow: hidden;
    z-index: -1;
}


.window-head {
    position: absolute;
    background-color: #96cafd;
    border: 7px solid #000;
    border-radius: 39% 61% 46% 54% / 40% 40% 60% 60%;
    width: 450px;
    height: 450px;
    top: 20px;
    left: 90px;
    z-index: 1;
}



.window-bottom {
    position: absolute;
    background-color: #96cafd;
    border: 7px solid #000;
    width: 600px;
    height: 180px;
    border-radius: 46% 48% 35% 35%;
    top: 83px;
    right: 60px;
    z-index: 2;
}


.car__block-1 {
    display: flex;
    position: relative;
    flex-direction: column;
}

.car__block-1-2 {
    align-self: flex-end;
    width: 750px;
    height: 180px;
    background-color: yellow;
    border-radius: 50% 50% 100px 100px;
    overflow: hidden;
}
.wheels {
    display: flex;
}
.wheels__left,
.wheels__right {
    position: absolute;
    top: 55%;
    width: 130px;
    height: 130px;
    border: 30px solid #505050;
    border-radius: 50%;
    outline: 5px solid #979797;
}

.wheels__left_position {
    right: 55%;
}

.wheels__right_position {
    right: 10%;
}

.wheels__disk {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #979797;
    width: 100%;
    height: 100%;
    background-color: #838383;
    border-radius: 50%;
    outline: 5px solid #c9c9c9;
}

.wheels__sinker {
    outline: 5px dotted #c9c9c9;
    border: 6px solid #979797;
    background-color: #c9c9c9;
    width: 45%;
    height: 45%;
    border-radius: 50%;
}


.car__door {
    position: relative;
    width: 35%;
    height: 100%;
    border: 2px solid red;
    border-top: 0px solid transparent;
    left: 230px;
    border-radius: 16% 0% 20% 10% / 8% 29% 43% 36%;
}

.rear-lights {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    right: 26px;
    top: 80px;
    width: 50px;
}

.rear-lights__red {
    width: 50px;
    height: 20px;
    background-color: rgb(83, 24, 24);
    outline: 5px solid  rgb(83, 24, 24);
    border-left: 15px solid #e23a3a;
    border-radius: 2%;
}

.rear-lights__gray {
    width: 50px;
    height: 20px;
    background-color: gray;
    border-radius: 2%;
}


.car__doorhandle {
    width: 35px;
    height: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 210px;
    border-radius: 50%;
    background-color: rgb(116, 116, 25);
}

.car__doorline {
    height: 8px;
    width: 46px;
    margin: 0px -12px 0px -12px;
    background-color: rgb(235, 235, 161);
    border-radius: 30%;
}

.articles {
    padding: 50px 0px;
}

.articles__title {
    margin-bottom: 30px;
}

.articles__items {
    display: flex;
    justify-content: space-between;
}

.articles__item {
    width: 380px;
}

.article {
    display: flex;
    flex-basis: 380px;
}

.article__header {
    font-size: 22px;
    font-weight: 700;
    width: 100%;
}

.article__image {
    margin-right: 25px;
}

.footer {
    background-color: #1b1d24;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}


.insights {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__image {
    width: 197px;
    height: 54px;
}

.insights__text {
    flex-basis: 230px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    padding: 0px;
}

.insights__button {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
}
.insights__button::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    width: 1px;
    background-color: #7acbc6;
    transform: rotate(150deg);
    margin: 0px 30px 0px 15px;
}

.insights__button::after {
    content: "";
    display: inline-block;
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border: 1px solid #7acbc6;
    margin-left: 20px;
    transition: all 0.28s;
}

.insights__button:hover::after {
    margin-left: 25px;
    margin-right: -5px;
    transition: all 0.28s;
}

.contacts {
    padding: 45px 0px;
    border-top: 0.2px solid #abb8c3;
    border-bottom: 0.2px solid #abb8c3;
}

.contacts__items {
    display: flex;
}

.contacts__item {
    width: 30%;
    border-right: 1px solid #abb8c3;
}

.contacts__item:last-child {
    width: 100%;
    border-right: 0px solid #abb8c3;
}

.call-us {
    width: 100%;
}

.call-us__button {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 25px;
    margin-bottom: 35px;
}

.call-us__button::after {
    content: "";
    display: inline-block;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-color: #7acbc6;
    margin-left: 20px;
    transition: all 0.28s;
}

.call-us__button:hover::after {
    transition: all 0.28s;
    margin-left: 25px;
    margin-right: -5px;
}

.call-us__title {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 25px;
    margin-bottom: 18px;
}

.more-info {
    display: flex;
    padding: 0px 0px 20px 0px;
    width: 100%;
    border-bottom: 0.2px solid #abb8c3;
}

.info__more-info {
    margin-bottom: 50px;
}

.more-info li {
    margin-right: 34px;
}

.more-info li:first-child {
    margin-left: 0px;
}
.more-info li:last-child {
    margin-right: 0px;
}

.more-info__link {
    color: #7acbc6;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 3px;
}

.more-info__link::after {
    content: '';
    display: block;
    height: 1px;
    background-color: transparent;
    transition: all 0.25s;
    margin-top: 5px;
}

.more-info__link:hover::after {
    content: '';
    display: block;
    background-color: #7acbc6;
}


.call-us__link {
    display: inline-flex;
    flex-direction: column;
    font-size: 30px;
    text-decoration: none;
    color: #7acbc6;
}

.call-us__link::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #7acbc6;
    margin-top: 5px;
}

.call-us__link:hover::after {
    content: '';
    background-color: transparent;
    transition: all 0.25s;
}

.info {
    display: flex;
    padding-left: 150px;
    flex-direction: column;
    justify-content: space-between;
}

.locations {
    height: 100%;
}

.locations__title {
    display: inline-flex;
    flex-direction: column;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.locations__title::after {
    content: '';
    display: block;
    height: 1px;
    background-color: transparent;
    margin-top: 5px;
}
.locations__title:hover::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #7acbc6;
    margin-top: 5px;
}


.locations__items {
    display: flex;
}

.locations__item {
    padding: 0px 25px;
    border-right: 0.2px solid #abb8c3;
}
.locations__item:first-child {
    margin-left: 0px;
    padding-left: 0px;
}

.locations__item:last-child {
    margin-right: 0px;
    padding-right: 0px;
    border-color: transparent;
}

.locations__link {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.locations__link::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #7acbc6;
    margin-top: 5px;
}

.locations__link:hover::after {
    background-color: transparent;
    transition: all 0.25s;
}


.copyrigh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.copyrigh__text {
    color: #abb8c3;
}

.copyrigh__items {
    display: flex;
    align-self: center;
}

.copyrigh__item {
    padding: 5px 10px;
    border-right: 1px solid #abb8c3;
}
.copyrigh__item:last-child {
    padding-right: 0px;
    border-right-width: 0px;
}

.copyrigh__link {
    color: #fff;
    opacity: 0.55;
    text-decoration: underline;
}


.social {
    padding: 0px;
}

.social__items {
    display: flex;
    align-items: center;
}

.social__item {
    margin-right: 20px;
}

.social__link {
    align-self: center;
    background-color: transparent;
}



