.bk-container {
    width: 70%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #162743;
    width: 100%;
    height: 90px;
    padding: 20px 0;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 500px;
}

.header__menu li {
    text-decoration: none;
    list-style: none;
}

.header__link {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header__button {
    display: block;
    color: #162743;
    background-color: #7acbc6;
    border: 1px solid #7acbc6;
    padding: 36px 38px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
}

.header__button:hover {
    display: block;
    color: #7acbc6;
    background-color: #050c1a;
    border: 1px solid #7acbc6;
    padding: 36px 38px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
}

.sub-header {
    display: flex;
    align-items: flex-end;
    background-color: #f2f3f5;
    width: 100%;
}

.sub-header__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 371px;
}

.sub-header__title {
    flex-basis: 40%;
    margin-bottom: 40px;
}

.sub-header__title h1{
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
}


.sub-header__links {
    display: flex;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.sub-header__link {
    text-decoration: none;
    color: #1869b9;
}

.sub-header__line {
    width: 2px;
    height: 17px;
    background-color: #1869b9;
    margin: 0 17px;
}

.sub-header__color-block {
    width: 360px;
    height: 340px;
    background-color: #7acbc6;
    margin-right: 160px;
    padding-left: 20px;
}

.gears img {
    width: 476px;
    height: 404px;
}

.sub-header__gears-img img{
    margin-top: -31px;
}

.content {
    display: flex;
    padding: 90px 0px;
    border-bottom: 2px solid #abb8c3;
}

.main-text {
    width: 720px;
    font-size: 20px;
    counter-reset: item;
}

.content__main-text {
    margin-right: 72px;
}

.main-text p {
    margin-bottom: 30px;
}


.main-text__free-worksheet {
    float: right;
    margin: 0px 0px 0px 40px;
}


.main-text .main-text__title_num-title::before {
    display: inline-block;
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: 700;
    margin-right: 10px;
}



.main-text__title {
    color: #1869b9;
    font-size: 40px;
    margin: 25px 0px;
}

.main-text__title_min-title {
    font-size: 30px;
}

.main-text__title_num-title {
    font-size: 30px;
}

.main-text__list {
    padding-left: 18px;
    margin-bottom: 30px;
}

.main-text__list li {
    margin-left: 5px;
    line-height: 25px;
}

.main-text__list li::before {
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #000;
}


.main-text__image {
    margin-bottom: 25px;
}


.sidebar {
    width: 480px;
}

.content__sidebar {
    margin-top: 90px;
}

.sidebar__title {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    width: 250px;
    height: 45px;
    border-bottom: 4px solid #7acbc6;
}

.sidebar__link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.sidebar__list {
    margin-bottom: 50px;
}

.sidebar__list li {
    border-bottom: 1px solid #dbdcde;
    padding: 20px 15px 10px;
}

.sidebar__list li::before {
    display: inline-block;
    content: "";
    background: url('../img/main/sidebar/seo.svg') center / cover no-repeat;
    width: 40px;
    height: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

.sidebar__contact-us {
    padding: 25px 25px;
    background-color: #162743;
}

.sidebar__contact-us h4 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: #7acbc6;
    margin-bottom: 20px;
}

.sidebar__contact-us p {
    color: #fff;
    font-size: 33px;
    margin-bottom: 35px;
}


.sidebar__button {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    background-color: #7acbc6;
    border: 1px solid #7acbc6;
    padding: 20px 8px 20px 38px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    width: 300px;
    margin-bottom: -48px;
}
/* .sidebar__button a {
    text-decoration: none;
    color: #162743;
} */

.sidebar__button::after {
    content: "";
    display: inline-block;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 0 0 10px;
    padding: 0;
    vertical-align: middle;
}


.sidebar__button:hover {
    transition: all 0.25s;
    color: #7acbc6;
    background-color: #050c1a;
    border: 1px solid #7acbc6;
}


.sidebar__button:hover::after {
    transition: all 0.28s;
    color: #7acbc6;
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
    margin-left: 20px;
    margin-right: -15px;
}


.main-text__links {
    display: flex;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 35px;
}

.main-text__link {
    text-decoration: underline;
    color: #000;
}

.main-text__link:hover{
    transition: all 0.5s;
    text-decoration: none;
    color: #1869b9;
}

.main-text__line {
    width: 1px;
    height: 17px;
    background-color: #000;
    margin: 0 5px;
}


.main-text__drive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7acbc6;
    color: #000;
    padding: 25px;
    width: 650px;

}
.main-text__drive p {
    font-size: 25px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.main-text__button {
    padding: 8px 0px 8px 20px;
    font-size: 13px;
    width: 240px;
    background-color: #050c1a;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    margin-right: -100px;
}
.main-text__button::after {
    display: inline-block;
    content: '';
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
    background-position: center;
    background-size: cover;
    margin-left: 6px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.main-text__subscribe {
    margin-top: 50px;
    padding: 25px 25px;
    background-color: #f2f3f5;
}

.main-text__subscribe h4 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.main-text__subscribe p {
    color: #000;
    font-size: 30px;
    margin-bottom: 35px;
}


.main-text__subscribe-button {
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    padding: 20px 10px 20px 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    width: 42%;
    margin-bottom: -50px;
}


.main-text__subscribe-button::after {
    content: "";
    display: inline-block;
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 0 0 7px;
    padding: 0;
    vertical-align: middle;
}


.main-text__subscribe-button:hover {
    transition: all 0.25s;
    color: #000;
    background-color: #fff;
}


.main-text__subscribe-button:hover::after {
    transition: all 0.28s;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    margin-left: 18px;
    margin-right: -15px;
}

.articles {
    padding: 50px 0px;
}

.articles__title {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    width: 14%;
    height: 45px;
    border-bottom: 4px solid #7acbc6;
    margin-bottom: 20px;
}

.articles__list {
    display: flex;
    justify-content: space-between;
}

.articles__item {
    display: flex;
    flex-basis: 380px;
}

.articles__header {
    font-size: 22px;
    font-weight: 700;
    width: 100%;
}

.articles__image {
    margin-right: 25px;
}

.footer {
    padding: 30px 0px 0px;
    background-color: #1b1d24;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 35px;
}

.footer__subscribe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__image {
    width: 197px;
    height: 54px;
}

.footer__text {
    flex-basis: 170px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    padding: 0px;
}

.footer__button {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
}
.footer__button::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    width: 1px;
    background-color: #7acbc6;
    transform: rotate(150deg);
    margin: 0px 30px 0px 15px;
}

.footer__button::after {
    content: "";
    display: inline-block;
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border: 1px solid #7acbc6;
    margin-left: 20px;
}

.footer__button:hover::after {
    margin-left: 25px;
    margin-right: -5px;
    transition: all 0.25s;
}

.footer__contacts {
    padding: 45px 0px;
    border-top: 0.2px solid #abb8c3;
    border-bottom: 0.2px solid #abb8c3;
}

.footer__contacts-block {
    display: flex;
}

.footer__call-us {
    border-right: 1px solid #abb8c3;
    width: 330px;
}

.footer__request-button {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 25px;
    margin-bottom: 35px;
}

.footer__request-button::after {
    content: "";
    display: inline-block;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-color: #7acbc6;
    margin-left: 20px;
}

.footer__request-button:hover::after {
    transition: all 0.28s;
    margin-left: 25px;
    margin-right: -5px;
}

.footer__title {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 25px;
    margin-bottom: 18px;
}

.footer__title_line {
    display: flex;
    flex-direction: column;
    width: 18.5%;
}

.footer__title_line::after {
    content: '';
    display: block;
    height: 1px;
    background-color: transparent;
    margin-top: 5px;
}
.footer__title_line:hover::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #7acbc6;
    margin-top: 5px;
}


.footer__link {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    text-decoration: none;
    color: #7acbc6;
}
.footer__link::after {
    content: '';
    display: block;
    height: 1px;
    width: 60%;
    background-color: #7acbc6;
    margin-top: 5px;
}

.footer__link:hover::after {
    display: block;
    content: '';
    height: 1px;
    background-color: transparent;
    transition: all 0.25s;
    margin-top: 5px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 80px;
}

.footer__link_size {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer__link_size::after {
    content: '';
    background-color: transparent;
    width: 100%;
}

.footer__link_size:hover::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #7acbc6;
    margin-top: 5px;
}


.footer__menu {
    display: flex;
    padding: 20px 0px;
    width: 105%;
    border-bottom: 0.2px solid #abb8c3;
}

.footer__menu li {
    margin-right: 34px;
}

.footer__list {
    display: flex;
}

.footer__list li {
    padding: 0px 25px;
    border-right: 0.2px solid #abb8c3;
}
.footer__list li:first-child {
    padding-left: 0px;
}

.footer__list li:last-child {
    padding-right: 0px;
    border-color: transparent;
}

.footer__item {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.footer__item::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #7acbc6;
    margin-top: 5px;
}

.footer__item:hover::after {
    background-color: transparent;
    transition: all 0.25s;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.footer__social-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyrigh {
    color: #abb8c3;
}

.footer__privacy {
    display: flex;
    align-self: center;
}

.footer__privacy li {
    padding: 5px 10px;
    border-right: 1px solid #abb8c3;
}
.footer__privacy li:last-child {
    padding-right: 0px;
    border-right-width: 0px;
}

.footer__privacy-link {
    color: #fff;
    opacity: 0.55;
    text-decoration: underline;
}


.footer__social-links {
    display: flex;
    align-items: flex-end;
}

.footer__social-links li {
    margin-right: 20px;
}

.footer__social-image {
    align-self: center;
    background-color: transparent;

}



