@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_7pt-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_7pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_10pt-Black.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_10pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_7pt-Black.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_7pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_10pt-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_10pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_7pt-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_7pt-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_10pt-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_10pt-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_10pt-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_10pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans_7pt-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans_7pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'NunitoSans', sans-serif;
}


.header__container,
.sub-header__container,
.content__container,
.car__container,
.articles__container,
.footer__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 10px;
}


.header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #162743;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo {
    display: block;
    align-self: center;
    width: 200px;
    height: auto;
    position: relative;
    z-index: 3;
}

.burger {
    display: none;
}

.menu {
    display: flex;
    position: relative;
    flex-basis: auto;
    flex-grow: 1;
    z-index: 2;
}

.menu__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}

.menu__item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 30px;
    height: 100%;
}

.menu__item:first-child {
    margin: 0px 0px 0px 0px;
}

.menu__link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.menu__link:hover {
    transition: all 0.25s ease-in-out;
    color: #7acbc6;
}

.menu__delta {
    display: none;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #7acbc6;
    padding: 0px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    width: 335px;
}

.menu__item:hover .dropdown {
    display: block;
}

.menu__position-one {
    left: -180%;
}

.menu__position-two {
    left: -140%;
}

.menu__position-three {
    left: -165%;
}

.dropdown::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #7acbc6;
}

.dropdown__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

.dropdown__link::after {
    content: '';
    display: block;
    background-color: transparent;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 10px;
    margin-left: 30px;
}

.dropdown__link:hover::after {
    margin: 0px -6px 0px 25px;
    transition: all 0.28s;
}

.dropdown__item {
    border-bottom: 1px solid rgba(5, 12, 26, .2);
}

.dropdown__item:last-child {
    border-bottom: 0px solid rgba(5, 12, 26, .2);
}

.contact-btn {
    display: block;
    color: #162743;
    background-color: #7acbc6;
    border: 1px solid #7acbc6;
    padding: 31px 38px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
}

.contact-btn:hover {
    color: #7acbc6;
    background-color: #050c1a;
    border: 1px solid #7acbc6;
}



.sub-header {
    position: relative;
    width: 100%;
    background-color: #f2f3f5;
    top: 80px;
    left: 0px;
    z-index: 40;
}


.sub-header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 380px;
    align-items: center;
}

.heading {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    padding: 20px 0px;
    z-index: 3;
}

.breadcrumb {
    height: 45%;
    padding: 8px 0px;
}

.breadcrumb__item {
    text-decoration: underline;
    color: #000;
}

.breadcrumb__item::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #000;
    margin: 0px 10px;
    vertical-align: middle;
    transform: rotate(10deg);
}


.breadcrumb__item:last-child::after {
    display: none;
}

.breadcrumb__item:last-child {
    text-decoration: none;
}

.heading__margin {
    margin-bottom: 25px;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 3;
}

.nav-links__link {
    text-decoration: none;
    color: #1869b9;
}

.nav-links__line {
    display: inline-block;
    width: 2px;
    height: 17px;
    background-color: #1869b9;
    margin: 0 16px;
}

.title-big {
    font-size: 45px;
    font-weight: 300;
    line-height: 60px;
    width: 80%;
}

.gears {
    position: relative;
    align-self: flex-end;
    background-color: #7acbc6;
    height: 95%;
    width: 40%;
}

.gears__img {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 100%;
    height: 115%;
    min-width: 20px;
    min-height: 20px;
    background-image: url('../img/sub-header/gears.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 20px;
}

content {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 50;
}

.content__body {
    position: relative;
    top: 160px;
    display: flex;
    justify-content: space-between;
    counter-reset: item;
}

.content__text {
    position: relative;
    z-index: 3;
    font-size: 15px;
    line-height: 2;
}

.image {
    float: right;
}


.content__text p {
    margin-bottom: 30px;
}

.content__image {
    width: 100%;
    margin-bottom: 20px;
}

.content__title {
    color: #1869b9;
    font-size: 35px;
    margin: 25px 0px;
    line-height: 40px;
}

.content__title_numbers,
.content__title_minsize {
    font-size: 28px;
}

.content__title_numbers::before {
    display: inline-block;
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: 700;
    margin-right: 10px;
}

.content__list li {
    display: flex;
    margin-left: 25px;
}

.content__list li:not(:last-child) p {
    margin: 0;
}

.content__list li::before {
    display: inline-block;
    content: "";
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #000;
    padding: 3px;
    margin: 8px 15px 0px 0px;
}

.content__margin {
    margin: 0px 0px 0px 100px;
}

.services {
    position: relative;
    top: 100px;
    z-index: 3;
    right: 20px;
    width: 120%;
}

.title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    height: 40px;
    border-bottom: 4px solid #7acbc6;
}

.services__items {
    margin-bottom: 50px;
}

.services__item {
    border-bottom: 1px solid #dbdcde;
    padding: 20px 15px 10px;
}

.services__item::before {
    display: inline-block;
    content: "";
    background: url('../img/main/sidebar/seo.svg') center / cover no-repeat;
    width: 40px;
    height: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

.services__link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.contact-us {
    padding: 25px;
    background-color: #162743;
    height: 195px;
}

.contact-us__title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: #7acbc6;
    margin-bottom: 20px;
}

.contact-us__text {
    color: #fff;
    font-size: 26px;
    margin-bottom: 35px;
}


.button {
    position: relative;
    top: 0px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 20px 10px 20px 40px;
    z-index: 3px;
}


.contact-us__button {
    color: #000;
    background-color: #7acbc6;
    border: 1px solid #7acbc6;
}

.button::after {
    content: "";
    display: inline-block;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 0 0 5px;
    vertical-align: middle;
    transition: all 0.28s;
}

.contact-us__button:hover {
    transition: all 0.28s;
    color: #7acbc6;
    background-color: #050c1a;
    border: 1px solid #7acbc6;
}

.contact-us__button:hover::after {
    transition: all 0.28s;
    color: #7acbc6;
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
    margin-left: 9px;
    margin-right: -4px;
}


.content__links-nav {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 30px;
}

.nav-links__color {
    color: #000;
    text-decoration: underline;
}

.nav-links__style {
    background-color: #000;
    margin: 0px 5px;
    width: 1px;
    vertical-align: middle;
}

.drive {
    display: flex;
    align-items: center;
    background-color: #7acbc6;
    color: #000;
    padding: 25px 20px;
    width: 80%;
    min-width: 600px;
    max-width: 700px;
    z-index: 3;
}

.drive__text {
    font-size: 20px;
    font-weight: 100;
    width: 100%;
}

.drive__weight {
    font-weight: 700;
}

.drive__button {
    position: relative;
    padding: 5px 12px 5px 20px;
    right: -130px;
    font-size: 10px;
    margin-left: -130px;
    background-color: #050c1a;
    letter-spacing: 2px;
    color: #fff;
    z-index: 3;
    min-width: 230px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
}

.drive__button::after {
    position: absolute;
    content: "";
    top: 0%;
    left: 80%;
    width: 30px;
    height: 30px;
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

.drive__button:hover {
    transition: all 0.28s;
}

.drive__button:hover::after {
    left: 83%;
    transition: all 0.28s;
    color: #7acbc6;
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
}

.content__margin-bt {
    margin-bottom: 50px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 25px 25px 0px 25px;
    background-color: #f2f3f5;
    width: 100%;
    max-width: 680px;
    min-width: 650px;
}


.subscribe__title {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    color: #000;
    margin-bottom: 15px;
}

.subscribe p {
    margin-bottom: 0px;
}

.subscribe__text {
    color: #000;
    font-size: 25px;
    line-height: 1.2;
}

.subscribe__button {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    padding: 20px 50px 20px 20px;
    letter-spacing: 3px;
}

.subscribe__button::after {
    position: absolute;
    content: "";
    top: 26%;
    right: 6%;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
}

.subscribe__button:hover {
    color: #000;
    background-color: #fff;
}

.subscribe__button:hover::after {
    transition: all 0.28s;
    background-image: url('../img/main/sidebar/arrow-right.svg');
    right: 4%;
}






.car {
    display: none;
    padding: 30px 0px;
    padding-top: 200px;
    /* display: none; */
}

.car__block {
    width: 980px;
}

.car__header {
    display: flex;
    justify-content: flex-end;
    height: 140px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -50px;
}

.car__roof {
    position: relative;
    width: 650px;
    height: 650px;
    background-color: yellow;
    border-radius: 39% 61% 46% 54% / 40% 40% 60% 60%;
    overflow: hidden;
    z-index: -1;
}


.window-head {
    position: absolute;
    background-color: #96cafd;
    border: 7px solid #000;
    border-radius: 39% 61% 46% 54% / 40% 40% 60% 60%;
    width: 450px;
    height: 450px;
    top: 20px;
    left: 90px;
    z-index: 1;
}



.window-bottom {
    position: absolute;
    background-color: #96cafd;
    border: 7px solid #000;
    width: 600px;
    height: 180px;
    border-radius: 46% 48% 35% 35%;
    top: 83px;
    right: 60px;
    z-index: 2;
}


.car__block-1 {
    display: flex;
    position: relative;
    flex-direction: column;
}

.car__block-1-2 {
    align-self: flex-end;
    width: 750px;
    height: 180px;
    background-color: yellow;
    border-radius: 50% 50% 100px 100px;
    overflow: hidden;
    perspective: 800px;
    perspective-origin: top;
}

.wheels {
    display: flex;
}

.wheels__left,
.wheels__right {
    position: absolute;
    top: 55%;
    width: 130px;
    height: 130px;
    border: 30px solid #505050;
    border-radius: 50%;
    outline: 5px solid #979797;
    animation-name: animcar;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes animcar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.wheels__left_position {
    right: 55%;
}

.wheels__right_position {
    right: 10%;
}

.wheels__disk {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #979797;
    width: 100%;
    height: 100%;
    background-color: #838383;
    border-radius: 50%;
    outline: 5px solid #c9c9c9;
}

.wheels__sinker {
    outline: 5px dotted #c9c9c9;
    border: 6px solid #979797;
    background-color: #c9c9c9;
    width: 45%;
    height: 45%;
    border-radius: 50%;
}


.car__door {
    position: relative;
    transform: rotateX(110deg);
    transform: rotateY(0deg);
    width: 35%;
    height: 100%;
    left: 230px;
    border-radius: 16% 0% 20% 10% / 8% 29% 43% 36%;
    animation-name: cardoor;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}



@keyframes cardoor {
    50% {
        transform: rotateY(-80deg);
    }
}

.rear-lights {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    right: -10px;
    top: 80px;
    width: 50px;
}

.rear-lights__red {
    width: 50px;
    height: 20px;
    background-color: rgb(83, 24, 24);
    outline: 5px solid rgb(83, 24, 24);
    border-left: 15px solid #e23a3a;
    border-radius: 2%;
    z-index: 0;
}

.rear-lights__gray {
    position: absolute;
    width: 50px;
    height: 20px;
    background-color: gray;
    border-radius: 14% 15% 16% 15% / 10% 10% 16% 14%;
    right: 0px;
    top: 120px;
}

.bump-lights__gray {
    position: absolute;
    width: 50px;
    height: 20px;
    background-color: gray;
    border-radius: 14% 15% 16% 15% / 10% 10% 16% 14%;
    right: 690px;
    top: 120px;
}





.headlights {
    position: absolute;
    top: 70px;
    left: 270px;
    background-color: #c0dcfd;
    border: 5px solid #6d99c5;
    outline: 3px solid #505050;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation-name: animlights;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    z-index: 1;

}

@keyframes animlights {
    50% {
        background-color: yellow;
    }
}

.light {
    position: absolute;
    top: -15px;
    left: 20px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 99px;
    border-top-width: 101px;
    border-left: 277px solid yellow;
    z-index: -1;
    animation-name: light;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    opacity: 0;
}


@keyframes light {
    50% {
        opacity: 0.5;
    }
}


.car__doorhandle {
    width: 35px;
    height: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 210px;
    border-radius: 50%;
    background-color: rgb(116, 116, 25);
}

.car__doorline {
    height: 8px;
    width: 46px;
    margin: 0px -12px 0px -12px;
    background-color: rgb(235, 235, 161);
    border-radius: 30%;
}








.articles {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    padding: 300px 0px 50px;
}

.articles__title {
    margin-bottom: 30px;
}

.articles__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles__item {
    flex-basis: 400px;
}

.article {
    display: flex;
    flex-basis: 33.333%;
}

.article__header {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    line-height: 1.5;
}

.article__image {
    width: 96px;
    height: 96px;
    margin-right: 20px;
}

.footer {
    background-color: #1b1d24;
}


.footer__head {
    padding: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__text {
    display: inline-block;
    color: #fff;
    width: 35%;
    max-width: 200px;
    min-width: 200px;
    line-height: 1.5;
}

.footer__subscribe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__line {
    width: 1px;
    height: 60px;
    background-color: #7acbc6;
    transform: rotate(-30deg);
    margin: 0px 35px 0px 15px;
}

.footer__button {
    position: relative;
    display: flex;
    padding: 0px 70px 0px 0px;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 3px;
}

.footer__button::after {
    position: absolute;
    right: 0px;
    display: inline-block;
    content: "";
    padding: 25px 23px;
    background-image: url('../img/main/sidebar/arrow-right_blue.svg');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #7acbc6;
    transition: 0.5s all;
}

.footer__button:hover::after {
    right: -8px;
}

.footer__body {
    border-top: 1px solid rgba(255, 255, 255, .15);
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.footer__line_style {
    width: 0.5px;
    min-width: 0.5px;
    height: auto;
    background-color: rgba(255, 255, 255, .15);
    transform: rotate(0deg);
}

.footer__items {
    display: flex;
    justify-content: space-between;
    padding: 45px 0px;
    column-gap: 5%;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: space-between;
}

.contact__button {
    width: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    position: relative;
}

.contact__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 1.5;
}

.contact__button::after {
    position: absolute;
    right: -60px;
    display: inline-block;
    content: "";
    padding: 25px 23px;
    width: 30px;
    height: 30px;
    background-image: url('../img/footer/arrow.svg');
    background-color: #7acbc6;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s all;
}

.contact__button:hover::after {
    right: -65px;
}

.contact__phone {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contact__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 1.5;
}

.contact__number {
    display: inline-block;
    color: #7acbc6;
    font-size: 28px;
}

.contact__number::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #7acbc6;
    margin-top: 8px;
    transition: 0.5s all;
}

.contact__number:hover::after {
    width: 0%;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation__items {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    gap: 0px 35px;
}

.navigation__item {}

.navigation__link {
    color: #7acbc6;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 1.5;
}

.locations {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.locations__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 1.5;
}

.locations__items {
    display: flex;
    align-items: center;
}

.locations__item {
    display: inline-block;
    padding: 4px 20px;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.locations__link {
    display: inline-block;
    color: #fff;
    font-size: 20px;
}

.locations__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: #7acbc6;
    margin-top: 6px;
    transition: 0.5s all;
}

.locations__link:hover::after {
    width: 0%;
}

.locations__item:first-of-type {
    padding-left: 0px;
}

.locations__item:last-of-type {
    padding-right: 0px;
    border-right: none;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    column-gap: 50px;
}

.rights {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    column-gap: 10px;
    row-gap: 5px;
}

.rights__text {
    color: rgba(255, 255, 255, 0.7);
}

.rights__links {}

.rights__link {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    padding: 3px 10px;
    border-right: 1px solid #fff;
}

.rights__link:first-of-type {
    padding-left: 0px;
}

.rights__link:last-of-type {
    border-right: none;
    padding-right: 0px;
}

.social__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
}

.social__img {}

@media (max-width: 1310px) {
    .sub-header__body {
        height: 290px;
    }

    .sub-header__body {
        padding: 0px 10px;
    }

    .gears {
        max-width: 390px;
        min-width: 390px;
    }


    .gears__img {
        left: 1px;
        right: 0px;
        background-size: 95% 100%;
    }

    .footer .logo {
        flex-shrink: 0;
    }

    .footer__text {
        font-size: 14px;
        max-width: 180px;
        min-width: 180px;
    }

    .footer__button {
        font-size: 13px;
    }

    .footer__button::after {
        content: "";
        right: 15px;
        padding: 20px 18px;
        background-size: 80%;
    }

    .footer__line {
        margin: 0px 30px 0px 10px;
    }

    .footer__button:hover::after {
        right: 8px;
    }

    .footer__head {
        padding: 30px 70px;
    }

    .footer__bottom {
        padding: 30px 70px;
    }

    .footer__items {
        column-gap: 0px;
        padding: 45px 70px;
    }
}

@media (max-width: 1250px) {
    .articles__items {
        row-gap: 20px;
        flex-direction: column;
    }

    .articles__item {
        flex-basis: auto;
    }

    .article__header {
        width: 50%;
    }

    .article__image {
        width: 115px;
        height: 115px;
        margin-right: 25px;
    }

    .footer .logo {
        flex-shrink: 0;
    }

    .footer__text {
        font-size: 14px;
        max-width: 180px;
        min-width: 180px;
    }

    .footer__button {
        font-size: 13px;
    }

    .footer__button::after {
        content: "";
        right: 15px;
        padding: 20px 18px;
        background-size: 80%;
    }

    .footer__line {
        margin: 0px 30px 0px 10px;
    }

    .footer__button:hover::after {
        right: 8px;
    }

    .contact {
        min-width: 180px;
    }

    .contact__button {
        font-size: 14px;
    }

    .contact__button::after {
        right: -50px;
        padding: 20px 18px;
        width: 30px;
        height: 30px;
        background-size: 45%;
    }

    .contact__button:hover::after {
        right: -55px;
    }

    .contact__link {
        font-size: 14px;
    }

    .contact__title {
        font-size: 14px;
    }

    .contact__number {
        font-size: 20px;
    }

    .contact__number::after {
        width: 82%;
    }

    .navigation__link {
        font-size: 14px;
    }

    .locations__title {
        font-size: 14px;
    }

    .locations__link {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .content__margin {
        margin: 0px 0px 0px 60px;
    }

    .contact-us {
        padding: 20px;
        display: inline-block;
        height: 135px;
        max-width: 300px;
    }

    .contact-us__title {
        font-size: 14px;
    }

    .contact-us__text {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .contact-us__button {
        padding: 15px 10px 15px 15px;
        font-size: 12px;
        letter-spacing: 2px;
    }


    .button::after {
        width: 20px;
        height: 20px;
        margin: 0 0 0 3px;
        vertical-align: middle;
        transition: all 0.28s;
    }

    .contact-us__button:hover::after {
        transition: all 0.28s;
        color: #7acbc6;
        background-image: url('../img/main/sidebar/arrow-right_blue.svg');
        margin-left: 6px;
        margin-right: -3px;
    }

    .drive {
        width: 100%;
        padding: 10px 15px;
        max-width: 300px;
        min-width: 480px;
    }

    .drive__text {
        font-size: 18px;
        font-weight: 100;
    }

    .drive__button {
        min-width: 200px;
        right: -150px;
        margin-left: -220px;
        font-size: 10px;
        padding: 6px 0px 6px 15px;
        letter-spacing: 1px;
    }

    .drive__button::after {
        top: 10%;
        left: 79%;
        width: 25px;
        height: 25px;
    }

    .drive__button:hover::after {
        left: 81%;
    }

    .navigation__items {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px 15px;
    }
}



@media (max-width: 950px) {
    .content__margin {
        margin: 0px 0px 0px 35px;
    }

    .contact-us {
        display: inline-block;
        padding: 16px;
        height: 125px;
    }

    .contact-us__title {
        font-size: 14px;
    }

    .contact-us__text {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .contact-us__button {
        padding: 10px 5px 10px 10px;
        font-size: 10px;
        letter-spacing: 2px;
    }

    .button::after {
        width: 15px;
        height: 15px;
        margin: 0 0 0 3px;
        vertical-align: middle;
        transition: all 0.28s;
    }

    .contact-us__button:hover::after {
        transition: all 0.28s;
        color: #7acbc6;
        background-image: url('../img/main/sidebar/arrow-right_blue.svg');
        margin-left: 6px;
        margin-right: -3px;
    }
}

@media (max-width: 1100px) {
    .sub-header__body {
        height: 250px;
    }

    .menu__item {
        margin: 0px 0px 0px 15px;
    }

    .menu__link {
        font-size: 14px;
    }

    .logo {
        width: 145px;
    }

    .heading {
        padding: 10px 0px 20px;
    }

    .contact-btn {
        padding: 32px 25px;
        letter-spacing: 3px;
        font-size: 13px;
    }

    .breadcrumb__item {
        font-size: 14px;
    }

    .nav-links {
        font-size: 12px;
        letter-spacing: 3px;
    }

    .nav-links__line {
        margin: 0 12px;
    }

    .title-big {
        font-size: 35px;
        line-height: 50px;
    }

    .gears {
        margin-right: 0px;
        max-width: 350px;
        min-width: 350px;
    }

    .gears__img {
        left: -5px;
        right: 0px;
        background-size: 96% 100%;
    }
}

@media (max-width: 1000px) {
    .content {
        padding: 50px 0px 0px 0px;
    }

    .content__body {
        flex-direction: column;
        top: 80px;
    }

    .subscribe {
        width: 60%;
        max-width: 100%;
        min-width: 650px;
    }

    .contact-us {
        display: none;
    }
}

@media (max-width: 950px) {
    .breadcrumb__item {
        font-size: 13px;
    }

    .sub-header__body {
        column-gap: 20px;
    }

    .heading__margin {
        margin-bottom: 15px;
    }

    .title-big {
        font-size: 30px;
        line-height: 50px;
        width: 100%;
    }

    .nav-links {
        font-size: 10px;
        letter-spacing: 3px;
        padding: 0px;
        flex-basis: auto;
    }

    .gears {
        margin-right: 0px;
        max-width: 300px;
        min-width: 300px;
    }

    .gears__img {
        left: -5px;
        right: 0px;
        background-size: 96% 100%;
    }
}

@media (max-width: 900px) {
    .footer__head {
        padding: 30px 15px;
    }

    .footer__bottom {
        padding: 30px 15px;
    }

    .footer__items {
        padding: 45px 15px;
    }
}

@media (max-width: 760px) {
    .body.lock {
        overflow: hidden;
    }

    .header__container {
        padding-right: 0px;
    }

    .header__body {
        height: 60px;
    }

    .logo {
        width: 150px;
    }

    .burger {
        display: block;
        cursor: pointer;
        position: relative;
        padding: 0px 5px;
        width: 60px;
        height: 60px;
        background-color: #7acbc6;
        border: 1px solid #000;
        z-index: 3;
        outline: 2px solid #fff;
    }

    .burger span {
        display: block;
        background-color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 88%;
        height: 2px;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
    }

    .burger span:nth-child(1) {
        top: 25%;
    }

    .burger span:nth-child(3) {
        top: 75%;
    }

    .burger.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
    }

    .burger.active span:nth-child(2) {
        opacity: 0;
    }

    .burger.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }

    .burger.active {
        border: 0px solid transparent;
        outline: 0px solid transparent;
    }

    .menu {
        position: fixed;
        display: block;
        overflow: auto;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 60px 0px 0px;
        background-color: #7acbc6;
        z-index: 0;
        transition: 0.3s ease;
    }

    .menu__items {
        display: block;
        color: #000;
    }

    .menu__item,
    .menu__item:first-child {
        display: block;
        margin: 0px 0px 0px 0px;
    }

    .menu__item {
        padding: 20px 30px;
        border-bottom: 1px solid rgba(5, 12, 26, .2);
    }

    .menu__link {
        color: #000;
        font-size: 17px;
        font-weight: 900;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .menu__link:hover {
        transition: none;
        color: #000;
    }

    .menu.active {
        top: 0;
    }

    .menu__button {
        padding: 3%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .contact-btn {
        font-size: 24px;
        background-color: #050c1a;
        border: 1px solid #7acbc6;
        color: #fff;
        text-align: center;
    }

    .services {
        left: 12px;
        width: 95%;
    }

    .title {
        font-size: 20px;
    }

    .services__item {
        padding: 20px 15px 10px;
    }

    .services__link {
        font-size: 16px;
    }

    .services__item::before {
        width: 40px;
        height: 50px;
        margin-right: 20px;
    }

    .dropdown {
        position: static;
        padding: 0px;
        box-shadow: none;
        width: 100%;
    }

    .dropdown::before {
        display: none;
    }

    .drive {
        width: 100%;
        padding: 10px 15px;
        max-width: 300px;
        min-width: 480px;
    }

    .drive__text {
        font-size: 18px;
        font-weight: 100;
    }

    .drive__button {
        min-width: 200px;
        right: -150px;
        margin-left: -220px;
        font-size: 10px;
        padding: 6px 0px 6px 15px;
        letter-spacing: 1px;
    }

    .drive__button::after {
        top: 0%;
        left: 79%;
        width: 30px;
        height: 30px;
    }

    .drive__button:hover::after {
        left: 81%;
    }

    .menu__select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.29s ease;
    }

    .menu__select::after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border: 0 solid transparent;
        border-left-width: 4px;
        border-right-width: 4px;
        border-top: 9px solid black;
    }

    .menu__item:hover .menu__select::after {
        transition: all 0.29s ease;
        transform: rotate(180deg);
    }

    .dropdown__link {
        justify-content: flex-start;
    }

    .dropdown__link::after {
        margin-left: 10px;
        width: 15px;
        height: 25px;
    }

    .dropdown__link:hover::after {
        margin: 0px -10px 0px 20px;
    }

    .dropdown__item:last-child .dropdown__link {
        padding: 20px 0px 0px;
    }

    .sub-header__body {
        height: 315px;
    }

    .sub-header {
        top: 60px;
    }

    .articles__items {
        row-gap: 0px;
        flex-direction: column;
    }

    .heading {
        padding: 10px 0px;
    }

    .breadcrumb {
        height: 45%;
        font-size: 15px;
        padding: 8px 0px;
    }

    .title-big {
        font-size: 35px;
        line-height: 50px;
        width: 100%;
    }

    .nav-links {
        font-size: 13px;
    }

    .gears {
        display: none;
    }

    .content__body {
        flex-direction: column;
        top: 80px;
    }

    .content__margin {
        margin: 0;
    }


    .contact-us {
        display: none;
    }


    .content__margin-bt {
        margin-bottom: 50px;
    }


    .articles {
        padding: 190px 0px 20px;
    }

    .articles__item {
        margin-bottom: 30px;
    }

    .article__header {
        font-size: 16px;
        font-weight: 700;
        width: 100%;
    }

    .drive {
        padding: 15px;
        width: 85%;
        max-width: 400px;
        min-width: 0px;
    }

    .drive__text {
        font-size: 15px;
        font-weight: 100;
    }

    .drive__button {
        right: -130px;
        font-size: 9px;
        padding: 10px 0px 10px 10px;
        min-width: 170px;
        margin-left: -140px;
        letter-spacing: 1px;
    }

    .drive__button::after {
        top: 18%;
        left: 82%;
        width: 24px;
        height: 24px;
    }

    .drive__button:hover::after {
        left: 84%;
    }

    .footer__head {
        padding: 0px;
        flex-direction: column;
    }

    .footer .logo {
        align-self: flex-start;
        width: 200px;
        padding: 25px 0px 25px 25px;
    }

    .footer .footer__container {
        padding: 0px 0px;
    }

    .footer__form {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 25px 0px;
        border-top: 1px solid rgba(255, 255, 255, .15);
    }

    .footer__subscribe {
        display: block;
        padding: 0px 10px 0px 25px;
        font-size: 14px;
        line-height: 4;
        border-left: 1px solid #7acbc6;
    }

    .footer__line {
        display: none;
    }

    .footer__text {
        font-size: 15px;
    }

    .footer__button {
        padding: 0px 85px 0px 0px;
        font-size: 15px;
    }

    .footer__button::after {
        padding: 25px 23px;
        background-image: url('../img/main/sidebar/arrow-right_blue.svg');
        background-size: 80%;
    }

    .footer__items {
        flex-direction: column;
        padding: 0px;
    }

    .footer__item:first-of-type {
        display: flex;
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 255, 255, .15);
    }

    .contact {
        display: inline-flex;
        align-items: center;
        padding: 30px 0px;
    }

    .contact__phone {
        flex-direction: row;
        column-gap: 25px;
    }

    .contact__button {
        width: 40%;
        margin-right: 60px;
        padding-right: 10px;
    }

    .contact__button::after {
        content: "";
        padding: 25px 23px;
        width: 30px;
        height: 30px;
        background-size: 50%;
    }

    .contact__number::after {
        display: none;
    }

    .navigation__items {
        flex-direction: column;
        padding: 0px;
        border-bottom: none;
    }

    .navigation__item {
        padding: 20px 0px 20px 30px;
        border-bottom: 1px solid rgba(255, 255, 255, .15);
    }
}


@media (max-width:700px) {
    .subscribe {
        width: 50%;
        min-width: 500px;
    }
}

@media (max-width: 550px) {
    .drive {
        width: 90%;
        padding: 10px;
        max-width: 300px;
    }

    .drive__text {
        font-size: 12px;
        font-weight: 100;
    }

    .drive__button {
        right: -110px;
        font-size: 6px;
        padding: 5px 0px 5px 6px;
        min-width: 115px;
        margin-left: -140px;
        letter-spacing: 1px;
    }

    .drive__button::after {
        top: 23%;
        left: 85%;
        width: 12px;
        height: 12px;
    }

    .drive__button:hover::after {
        left: 87%;
    }


    .subscribe {
        width: 50%;
        min-width: 400px;
    }

    .subscribe__title {
        font-size: 14px;
    }

    .subscribe__text {
        font-size: 20px;
    }

    .subscribe__button {
        font-size: 12px;
    }

    .subscribe__button::after {
        top: 26%;
        right: 15px;
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
    }

    .subscribe__button:hover::after {
        right: 12px;
    }
}

@media (max-width: 450px) {
    .subscribe {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .subscribe__button {
        font-size: 12px;
        width: 80%;
        max-width: 250px;
        min-width: 250px;
        padding: 20px 20px 20px 0px;
        align-self: center;
    }

    .subscribe__button::after {
        top: 25%;
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        right: 20px;
    }

    .subscribe__button:hover::after {
        right: 15px;
    }
}

@media (max-width: 400px) {
    .drive {
        width: 85%;
        padding: 8px;
        max-width: 260px;
    }

    .drive__text {
        font-size: 9px;
        font-weight: 100;
    }

    .drive__button {
        right: -110px;
        font-size: 5px;
        padding: 3px 0px 3px 5px;
        min-width: 105px;
        margin-left: -160px;
        letter-spacing: 1px;
    }

    .drive__button::after {
        top: 6%;
        left: 82%;
        width: 12px;
        height: 12px;
    }

    .drive__button:hover::after {
        left: 83.5%;
    }
}